<!DOCTYPE html>
    <head>
        <title>BattleDucks</title>
    </head>

    <link rel="stylesheet" type="text/css" href="stylesheets/splash.css">
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">

<body>
    <div class="overlay" id="warning_overlay">
        <div class="overlay_contents">
            <h1 class="title">This resolution is not supported... :(</h1>
        </div>
    </div>

        <main>
            <h1 id="banner_title" class="title">BattleDucks</h1>

            <div id="options">
                <img class="openfullscreen" id="fullscreen" src="images/fullscreen.png">
            </div>

            <div id="wrapper">
                <div id="play">
                    <div id="button_container">
                        <a id="play_button" onclick="window.location.href='/game'">Play</a>
                        <a id="help_button" onclick="showOverlay('Welcome To BattleDucks')">Help</a>
                    </div>
                </div>
                
                <img src="images/festive_ducky.png" />

                <div id="statistics">
                    <ul>
                        <li> Games started : <%= InitializedGames-1 %></li>
                        <li> Games aborted: <%= AbortedGames %></li>
                        <li> Players in-game: <%= PlayersJoined%></li>
                    </ul>
                </div>
            </div>

            <div id="overlay" class="overlay" onclick="hideOverlay()">
                <div class="overlay_contents">
                    <h1 id="overlay_title" class="title"></h1>

                    <ul>
                        <li>Set up your ducks by dragging them to your board, and rotate them by clicking</li>
                        <li>As soon as a player has joined the game, the ready button will be clickable and you can start your game</li>
                        <li>Try to defeat your opponent by neutralizing all his/her ducks first!</li>
                    </ul>
                </div>
            </div>

        </main>
    </body>

    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js"></script>
    <script src="javascripts/jquery.ui.touch-punch.min.js"></script>
    <script src = "javascripts/myScreen.js"></script>
    <script src="javascripts/mySplash.js"></script>
</html>