@import "style.css";

header {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    width: 100%;
}

@keyframes remove{
    from {visibility: visible}
    to {visibility: hidden;}
}

#header-img {
    border: 3px solid black;
}

#left {
    float: left;
    width: 42%;
}

#statistics {
    visibility: hidden;
    display: none;
}

#duckies_border {
    width: 500px;
    height: 500px;

    outline: 1px solid black;
}

#duckies_container {
    display: grid;
    width: 435px;
    height: 500px;

    margin: 20px auto auto;
    padding-left: 65px;

    grid-template-columns: repeat(5, 50px);

    grid-row-gap: 20px;
    grid-column-gap: 30px;

    image-rendering: -moz-crisp-edges;
    background: url("../images/grass.png") top left;
    background-size: 50px 50px;
    border: 1px solid black;
}

#button_container{
    width: 300px;
    margin: 100px auto 20px;
    text-align: center;
}

#placeholder {
    float: right;
    margin-right: 40px;
    margin-top: 30px;

    font-size: 20px;
    font-weight: bold;

    color: red;

    animation-name: remove;
    animation-delay: 5s;
}

.ready_waiting {
    background-color:#878f89;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #525752;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:16px;
    padding:15px 25px;
    text-decoration:none;
    text-shadow:0 1px 0 #2f6627;

    margin-top: 40px;
    margin-left: 40px;
}

.ready_clickable {
    background-color:#3464db;
    -moz-border-radius:10px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #152ab0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:16px;
    font-weight:bold;
    padding:15px 39px;
    text-decoration:none;
    text-shadow:0 1px 0 #2f6627;

    margin-top: 40px;
    margin-left: 40px;
}
.ready_clickable:hover {
    background-color:#254980;
}
.ready_clickable:active {
    position:relative;
    top:1px;
}

#new_game {
    background-color:#3464db;
    -moz-border-radius:10px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #152ab0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:20px;
    font-weight:bold;
    padding:18px 50px;
    text-decoration:none;
    text-shadow:0 1px 0 #2f6627;

    margin-bottom: 25px;
}

#new_game:hover {
    background-color:#254980;
}

#new_game:active {
    position:relative;
    top:1px;
}

#main_menu {
    background-color:#3464db;
    -moz-border-radius:10px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #152ab0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding:13px 30px;
    text-decoration:none;
    text-shadow:0 1px 0 #2f6627;
}

#main_menu:hover {
    background-color:#254980;
}
#main_menu:active {
    position:relative;
    top:1px;
}

#player_board {
    float: right;
    margin-left: 50px;
}

#opponent_board {
    visibility: hidden;
    display: none;
    width: 100%;
}

#endgame_overlay {
    visibility: hidden;
    display: none;
}

.tile_snappable {
    display: block;
    width: 50px;
    height: 50px;
}

.tile_0 {
    display: block;
    width: 50px;
    height: 50px;
}

.tile_0_1 {
    display: block;
    width: 50px;
    height: 50px;
}

.tile_1 {
    display: block;
    width: 50px;
    height: 50px;

    image-rendering:  -moz-crisp-edges;
    background: url("../images/explosion.png") no-repeat center;
    background-size: 40px 40px;
}

.tile_2 {
    display: block;
    width: 50px;
    height: 50px;

    image-rendering:  -moz-crisp-edges;
    background: url("../images/festive_ducky.png") no-repeat center;
    background-size: 45px 45px;
}

.tile_3 {
    display: block;
    width: 50px;
    height: 50px;

    image-rendering:  -moz-crisp-edges;
    background: url("../images/f.png") no-repeat center;
    background-size: 55px 55px;
}

.tile_4 {
    display: block;
    width: 50px;
    height: 50px;

    image-rendering:  -moz-crisp-edges;
    background: url("../images/cross.png") no-repeat center;
    background-size: 45px 45px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);

    image-rendering: -moz-crisp-edges;
    background: url("../images/water.png") top left;
    background-size: 50px 50px;

    border: 1px solid black;
}

.board {
    width: 42%;
    height: 42%;
    margin: auto;
}

.ship_cell {
    display: block; 
    width: 50px;
    height: 50px;

    image-rendering:  -moz-crisp-edges;

    background: url("../images/festive_ducky.png") no-repeat center;
    background-size: 45px 45px;

    box-shadow: 0 5px 3px 0 rgba(0,0,0,0.75);
}

.ship {
    width: 50px;
    display: grid;

    grid-template-columns: repeat(1, 50px);
}

#ducky0 {
    width: 50px;
    height: 100px;
    display: grid;

    grid-template-columns: repeat(1, 50px);
    grid-template-rows: repeat(2, 50px);
}

#ducky1 {
    width: 50px;
    height: 100px;
    display: grid;

    grid-template-columns: repeat(1, 50px);
    grid-template-rows: repeat(2, 50px);
}

#ducky2 {
    width: 50px;
    height: 100px;
    display: grid;

    grid-template-columns: repeat(1, 50px);
    grid-template-rows: repeat(2, 50px);
}

#ducky3{
    width: 50px;
    height: 150px;
    display: grid;

    grid-template-columns: repeat(1, 50px);
    grid-template-rows: repeat(3, 50px);
}

#ducky4{
    width: 50px;
    height: 150px;
    display: grid;

    grid-template-columns: repeat(1, 50px);
    grid-template-rows: repeat(3, 50px);
}

#ducky5 {
    width: 50px;
    height: 300px;
    display: grid;

    grid-template-columns: repeat(1, 50px);
    grid-template-rows: repeat(6, 50px);
}

#ducky6{
    width: 50px;
    height: 150px;
    display: grid;

    grid-template-columns: repeat(1, 50px);
    grid-template-rows: repeat(3, 50px);
}

#ducky7 {
    width: 50px;
    height: 200px;
    display: grid;

    grid-template-columns: repeat(1, 50px);
    grid-template-rows: repeat(4, 50px);
}

#ducky8 {
    width: 50px;
    height: 200px;
    display: grid;

    grid-template-columns: repeat(1, 50px);
    grid-template-rows: repeat(4, 50px);
}

.rotate_90{
    transform: rotate(90deg);
    transform-origin: top left;
}

.rotate_-90{
    transform: rotate(-90deg);
    transform-origin: center;
}