@import "style.css";

#banner_title {
    font-size: 100px;
}

#fullscreen {
    float: right;
}

#wrapper {
    width: 750px;
    height: 400px;

    padding: 50px;

    margin-left: auto;
    margin-right: auto;
}

#wrapper img {
    display: none;
    width: 220px;
}

#statistics {
    position: absolute;
    bottom: 30px;
    right: 30px;

    margin-top: 150px;
    float: right;

    width: 25%;
    background-color: rgba(0, 0, 0, 0.3);

    border: 2px dashed black;
}

#play {
    height: 200px;
    width: 100%;
    text-align: center
}

#button_container{
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#play_button {
    width: 80%;

    background-color: red;
    -moz-border-radius:10px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid black;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:40px;
    font-weight:bold;
    padding:40px 60px;
    text-decoration:none;
    text-shadow:0 1px 0 #2f6627;

    -webkit-transition: background 2s;
    -o-transition: background 2s;
    -moz-transition: background 0.3s;
    transition: background 0.3s;

    margin: 20px auto;
}

#play_button:hover {
    background-color: forestgreen;
}
#play_button:active {
    position:relative;
    top:1px;
}

#help_button {
    background-color:darkgrey;
    -moz-border-radius:10px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid black;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:22px;
    font-weight:bold;
    padding:15px 39px;
    text-decoration:none;
    text-shadow:0 1px 0 #2f6627;
}

#help_button:hover {
    background-color:grey;
}
#help_button:active {
    position:relative;
    top:1px;
}

.overlay li{
    list-style-type: upper-roman;
    padding-bottom: 10px;
}

#overlay_title {
    margin-bottom: 55px;
    text-decoration: underline;
}

#overlay_title::before {
    content: "!";
}

#overlay_title::after {
    content: "!";
}
